.wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* themes */
.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.default {
    background: #fff;
}

.default-text {
    color: #333333;
}

/**/