.App {
    padding: 50px;
    background: #303030;
}

.main_wrapper {
    padding: 10px;
    border-radius: 10px;

    background: #fff;
}

@media screen and (max-width: 500px) {
    .App {
        padding: 10px;
    }
}
