.wrapper {
    margin: 50px;
    max-width: 300px;

    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.controls {
    display: flex;
    justify-content: space-evenly;
}

.item {
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

.item span {
    color: cornflowerblue;
}

p {
    margin: 0;
}

.name {
    flex-basis: 30%;
}

.low {
    color: gray;
}

.middle {
    color: blue;
}

.high {
    color: red;
}

.cmn_btn {
    padding: 8px;
    margin: 10px;

    border: 1px solid #565252;
    border-radius: 5px;
    cursor: pointer;
}

.cmn_btn:hover {
    background: #fafafa;
}

.cmn_btn.active {
    background: #fafafa;
    box-shadow: 1px 1px 8px rgba(0,0,0,.5);
}

.btn_delete {
    background: red;

    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid darkred;

    cursor: pointer;

    position: relative;
}

.btn_delete:hover {
    top: 2px;
}

@media screen and (max-width: 500px){
    .wrapper {
        margin: 50px auto;
        width: 100%;
    }
}


