.header_nav {
    display: flex;
    align-items: flex-start;
}

.header_nav a {
    margin-right: 20px;
    color: #282c34;
    text-decoration: none;
}

.header_nav a:hover {
    color: #fa5b21;
}

.header_nav .active {
    color: #fa5b21;
}

.nav_wrapper {
    display: flex;

    /*transform: translate(-80%);*/
    transition: margin .5s;
    margin-left: -275px;
}

.show_nav {
    margin-left: 0;
}

/*@keyframes show_list {*/
/*    from {*/
/*        transform: translate(-80%);*/
/*    }*/
/*    to {*/
/*        transform: translate(0);*/
/*    }*/
/*}*/


/*@keyframes hide_List {*/
/*    from {*/
/*        transform: translate(0);*/
/*    }*/
/*    to {*/
/*        transform: translate(-80%);*/
/*    }*/
/*}*/


/*.show_links,*/
/*.hide_links {*/
/*    animation-delay: .3s;*/
/*    animation-duration: .3s;*/
/*}*/

/*.show_links {*/
/*    animation-name: show_list;*/

/*    transition-delay: .3s;*/
/*    transform: translate(0);*/
/*}*/

/*.hide_links {*/
/*    animation-name: hide_List;*/

/*    transition-delay: .5s;*/
/*    transform: translate(-80%);*/
/*}*/


