.wrapper {
    margin: 30px 0 0 50px;
    /*display: flex;*/
}

.error {
    /*border: 1px solid red;*/
    border: none;
    box-shadow: inset 0 0 0 2px rgba(255,0,0,.6);
}

.validated {
    border: 1px solid green;
}

/*.wrapper input {*/
/*    padding: 8px;*/

/*    border-radius: 3px;*/
/*    border: 1px solid #5e5d5d;*/
/*}*/

.error_wrapper {
    display: block;
    color: red;
}

.btn_add {
    margin: 0 20px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #527025;

    cursor: pointer;
    background: #9df116;
}

.btn_add:hover {
    background: #c1fd5b;
}

.total_users {
    margin-left: 15px;
}
